<ul>
  <% @tasks.each do |task| %>
    <li>
    <%= link_to task.title, task_path(task) %>
    <%= link_to 'delete', delete_task_path(task)%>
      </li>
  <% end %>

  <div><%= link_to 'new', new_task_path%></div>
</ul>
